@import "tailwindcss";

@theme inline {
  --color-surface: #ffffff;
  --color-on-surface: #282C3F;
  --color-primary: #FF3F6C;
  --color-surface-container-low: #f5f5f6;
  --color-secondary: #696879;
  --color-success: #03A685;
  --color-myntra-pink: #FF3F6C;
  --color-myntra-green: #03A685;
  --color-myntra-orange: #FF905A;
  --color-card-bg: #F5F5F6;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  min-height: 100dvh;
  color: #282C3F;
}

@layer utilities {
  .section-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (min-width: 768px) {
    .section-container {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
